.post-date {
  text-align: right;
  font-size: 1em;
  margin: 10px 0;
}
.post-date a {
  text-transform: uppercase;
  color: #f00;
}
.post-date a:hover,
.post-date a:visited,
.post-date a:focus {
  text-decoration: none;
}
